# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/

# Java
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz

# C++
*.o
*.out
*.exe

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
